{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "10.2.0.64",
          "port": 37001
        },
        {
          "id": "2",
          "ip": "10.2.0.162",
          "port": 37002
        },
        {
          "id": "3",
          "ip": "10.2.0.115",
          "port": 37003
        },
        {
          "id": "4",
          "ip": "10.2.0.47",
          "port": 37004
        },
        {
          "id": "5",
          "ip": "10.2.0.138",
          "port": 37005
        },
        {
          "id": "6",
          "ip": "10.2.0.169",
          "port": 37006
        },
        {
          "id": "7",
          "ip": "10.2.0.27",
          "port": 37007
        },
        {
          "id": "8",
          "ip": "10.2.0.235",
          "port": 37008
        },
        {
          "id": "9",
          "ip": "10.2.0.30",
          "port": 37009
        },
        {
          "id": "10",
          "ip": "10.2.0.71",
          "port": 37010
        },
        {
          "id": "11",
          "ip": "10.2.0.215",
          "port": 37011
        },
        {
          "id": "12",
          "ip": "10.2.0.46",
          "port": 37012
        },
        {
          "id": "13",
          "ip": "10.2.0.213",
          "port": 37013
        },
        {
          "id": "14",
          "ip": "10.2.0.22",
          "port": 37014
        },
        {
          "id": "15",
          "ip": "10.2.0.156",
          "port": 37015
        },
        {
          "id": "16",
          "ip": "10.2.0.78",
          "port": 37016
        }
      ],
      "regionId": 1
    }
  ],
  "selfRegionId": 1,
  "isPerformanceRunning": true,
  "maxProcessTxn": 2048,
  "clientBatchNum": 100,
  "workerNum": 8,
  "inputWorkerNum": 2,
  "outputWorkerNum": 2
}