{
  region : {
    replica_info : {
      id:1,
      ip:"127.0.0.1",
      port: 10006,
    },
    replica_info : {
      id:2,
      ip:"127.0.0.1",
      port: 10007,
    },
    replica_info : {
      id:3,
      ip:"127.0.0.1",
      port: 10008,
    },
    replica_info : {
      id:4,
      ip:"127.0.0.1",
      port: 10009,
    },
    region_id: 2,
  },
  self_region_id:2,
  leveldb_info : {
    write_buffer_size_mb:128,
    write_batch_size:1,
    enable_block_cache: true,
    block_cache_capacity: 100
  },
  require_txn_validation:true,
  enable_viewchange:false,
  enable_resview:true,
  enable_faulty_switch:false
}
