deps/*/
.idea/
.vscode/
rsync.sh
ifconfig.txt
obj/
results/
runcl
rundb
scripts/__pycache__/
scripts/config.h
scripts/hostnames.py
scripts/ifconfig.txt
scripts/runcl
scripts/rundb
hostnames.py
docker-compose.yml
res.out
.DS_Store
exp/