deps/*/
scripts/deploy/config/key.conf
scripts/deploy/config_out/
deploy/kv_server/output/
.idea/
.vscode/
.DS_Store
bazel-*
*.log
*.bak
venv
sdk_validator/venv
__pycache__
MODULE.*
apache_release
*.out.*
*.data.*
*.pb.*
.cache/
resdb/
100*_db/
gmon.out