{
  region : {
    replica_info : {
      id:1,
      ip:"127.0.0.1",
      port: 10001,
    },
    replica_info : {
      id:2,
      ip:"127.0.0.1",
      port: 10002,
    },
    replica_info : {
      id:3,
      ip:"127.0.0.1",
      port: 10003,
    },
    replica_info : {
      id:4,
      ip:"127.0.0.1",
      port: 10004,
    },
    region_id: 1,
  },
  region : {
    replica_info : {
      id:5,
      ip:"127.0.0.1",
      port: 10005,
    },
    replica_info : {
      id:6,
      ip:"127.0.0.1",
      port: 10006,
    },
    replica_info : {
      id:7,
      ip:"127.0.0.1",
      port: 10007,
    },
    replica_info : {
      id:8,
      ip:"127.0.0.1",
      port: 10008,
    },
    region_id: 2,
  },
  region : {
    replica_info : {
      id:9,
      ip:"127.0.0.1",
      port: 10009,
    },
    replica_info : {
      id:10,
      ip:"127.0.0.1",
      port: 10010,
    },
    replica_info : {
      id:11,
      ip:"127.0.0.1",
      port: 10011,
    },
    replica_info : {
      id:12,
      ip:"127.0.0.1",
      port: 10012,
    },
    region_id: 3,
  },

  self_region_id:2,
}
