# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[Unit]
Description=ResilientDB KV Client Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ resilientdb_dir }}
ExecStart={{ resilientdb_dir }}/bazel-bin/service/kv/kv_service \
    {{ resilientdb_dir }}/service/tools/config/server/server.config \
    {{ resilientdb_dir }}/service/tools/data/cert/node5.key.pri \
    {{ resilientdb_dir }}/service/tools/data/cert/cert_5.cert
Restart=always
RestartSec=5
StandardOutput=append:{{ resilientdb_dir }}/client.log
StandardError=append:{{ resilientdb_dir }}/client_error.log

[Install]
WantedBy=multi-user.target
