{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "2",
          "ip": "172.31.5.62",
          "port": 17002
        },
        {
          "id": "3",
          "ip": "172.31.8.207",
          "port": 17003
        },
        {
          "id": "4",
          "ip": "172.31.12.105",
          "port": 17004
        },
        {
          "id": "5",
          "ip": "172.31.3.13",
          "port": 17005
        },
        {
          "id": "6",
          "ip": "172.31.7.148",
          "port": 17006
        }
      ]
    }
  ],
  "enableViewchange": false,
  "maxClientComplaintNum": 10
}