{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "172.31.23.110",
          "port": 17001
        },
        {
          "id": "2",
          "ip": "172.31.31.183",
          "port": 17002
        },
        {
          "id": "3",
          "ip": "172.31.22.246",
          "port": 17003
        },
        {
          "id": "4",
          "ip": "172.31.26.117",
          "port": 17004
        }
      ]
    }
  ]
}