{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "172.31.52.247",
          "port": 17001
        },
        {
          "id": "2",
          "ip": "172.31.54.193",
          "port": 17002
        },
        {
          "id": "3",
          "ip": "172.31.55.48",
          "port": 17003
        },
        {
          "id": "4",
          "ip": "172.31.53.140",
          "port": 17004
        }
      ]
    }
  ],
  "enableViewchange": false,
  "maxClientComplaintNum": 10
}