{
  "clientBatchNum": 100,
  "enable_viewchange": false,
  "recovery_enabled": false,
  "max_client_complaint_num": 10,
  "max_process_txn": 4,
  "worker_num": 8,
  "input_worker_num": 5,
  "output_worker_num": 5,
  "non_responsive_num": 0,
  "fork_tail_num": 0,
  "rollback_num": 0,
  "tpcc_enabled": false,
  "network_delay_num": 0,
  "mean_network_delay": 0,
  "timer_length": 100
}
