{
  "clientBatchNum": 200,
  "enable_viewchange": false,
  "recovery_enabled": false,
  "max_client_complaint_num":10,
  "max_process_txn": 50,
  "worker_num": 10,
  "input_worker_num": 1,
  "output_worker_num": 5,
  "failure_num": 0,
  "mc_enabled": 1,
  "rac_enabled": 1,
  "rng_enabled": 0,
  "target_throughput": 1000000,
  "byzantine_mode": 0,
  "byzantine_target": ""
}
