{
  "node_id": 6,
  "ip": "127.0.0.1",
  "port": 25000,

  "replicas": [
    { "id": 1, "ip": "127.0.0.1", "port": 20001 },
    { "id": 2, "ip": "127.0.0.1", "port": 20002 },
    { "id": 3, "ip": "127.0.0.1", "port": 20003 },
    { "id": 4, "ip": "127.0.0.1", "port": 20004 }
  ],

  "block_size": 100
}
