{
  region : {
    replica_info : {
      id:1,
      ip:"127.0.0.1",
      port: 10001,
    },
    replica_info : {
      id:2,
      ip:"127.0.0.1",
      port: 10002,
    },
    replica_info : {
      id:3,
      ip:"127.0.0.1",
      port: 10003,
    },
    replica_info : {
      id:4,
      ip:"127.0.0.1",
      port: 10004,
    },
    region_id: 1,
  },
  self_region_id:1,
  rocksdb_info : {
    num_threads:1,
    write_buffer_size_mb:32,
    write_batch_size:1,
    generate_unique_pathnames:true,
  },
  leveldb_info : {
    write_buffer_size_mb:128,
    write_batch_size:1,
    generate_unique_pathnames:true,
  },
  require_txn_validation:false,
}


