{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "10.2.0.64",
          "port": 37001
        },
        {
          "id": "2",
          "ip": "10.2.0.162",
          "port": 37002
        },
        {
          "id": "3",
          "ip": "10.2.0.115",
          "port": 37003
        },
        {
          "id": "4",
          "ip": "10.2.0.47",
          "port": 37004
        },
        {
          "id": "5",
          "ip": "10.2.0.138",
          "port": 37005
        },
        {
          "id": "6",
          "ip": "10.2.0.169",
          "port": 37006
        },
        {
          "id": "7",
          "ip": "10.2.0.27",
          "port": 37007
        },
        {
          "id": "8",
          "ip": "10.2.0.235",
          "port": 37008
        },
        {
          "id": "9",
          "ip": "10.2.0.30",
          "port": 37009
        },
        {
          "id": "10",
          "ip": "10.2.0.71",
          "port": 37010
        },
        {
          "id": "11",
          "ip": "10.2.0.215",
          "port": 37011
        },
        {
          "id": "12",
          "ip": "10.2.0.46",
          "port": 37012
        },
        {
          "id": "13",
          "ip": "10.2.0.213",
          "port": 37013
        },
        {
          "id": "14",
          "ip": "10.2.0.22",
          "port": 37014
        },
        {
          "id": "15",
          "ip": "10.2.0.156",
          "port": 37015
        },
        {
          "id": "16",
          "ip": "10.2.0.78",
          "port": 37016
        },
        {
          "id": "17",
          "ip": "10.2.0.81",
          "port": 37017
        },
        {
          "id": "18",
          "ip": "10.2.0.49",
          "port": 37018
        },
        {
          "id": "19",
          "ip": "10.2.0.167",
          "port": 37019
        },
        {
          "id": "20",
          "ip": "10.2.0.77",
          "port": 37020
        },
        {
          "id": "21",
          "ip": "10.2.0.229",
          "port": 37021
        },
        {
          "id": "22",
          "ip": "10.2.0.66",
          "port": 37022
        },
        {
          "id": "23",
          "ip": "10.2.0.93",
          "port": 37023
        },
        {
          "id": "24",
          "ip": "10.2.0.183",
          "port": 37024
        },
        {
          "id": "25",
          "ip": "10.2.0.94",
          "port": 37025
        },
        {
          "id": "26",
          "ip": "10.2.0.246",
          "port": 37026
        },
        {
          "id": "27",
          "ip": "10.2.0.252",
          "port": 37027
        },
        {
          "id": "28",
          "ip": "10.2.0.119",
          "port": 37028
        },
        {
          "id": "29",
          "ip": "10.2.0.62",
          "port": 37029
        },
        {
          "id": "30",
          "ip": "10.2.0.225",
          "port": 37030
        },
        {
          "id": "31",
          "ip": "10.2.0.148",
          "port": 37031
        },
        {
          "id": "32",
          "ip": "10.2.0.128",
          "port": 37032
        }
      ],
      "regionId": 1
    }
  ],
  "selfRegionId": 1,
  "notNeedSignature": true,
  "isPerformanceRunning": true,
  "maxProcessTxn": 1024,
  "useChainHotstuff": true,
  "clientBatchNum": 100,
  "workerNum": 8,
  "inputWorkerNum": 2,
  "outputWorkerNum": 2,
  "tcpBatchNum": 1
}