{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "10.2.0.64",
          "port": 37001
        },
        {
          "id": "2",
          "ip": "10.2.0.162",
          "port": 37002
        },
        {
          "id": "3",
          "ip": "10.2.0.115",
          "port": 37003
        },
        {
          "id": "4",
          "ip": "10.2.0.47",
          "port": 37004
        },
        {
          "id": "5",
          "ip": "10.2.0.138",
          "port": 37005
        },
        {
          "id": "6",
          "ip": "10.2.0.169",
          "port": 37006
        },
        {
          "id": "7",
          "ip": "10.2.0.27",
          "port": 37007
        },
        {
          "id": "8",
          "ip": "10.2.0.235",
          "port": 37008
        },
        {
          "id": "9",
          "ip": "10.2.0.30",
          "port": 37009
        },
        {
          "id": "10",
          "ip": "10.2.0.71",
          "port": 37010
        },
        {
          "id": "11",
          "ip": "10.2.0.215",
          "port": 37011
        },
        {
          "id": "12",
          "ip": "10.2.0.46",
          "port": 37012
        },
        {
          "id": "13",
          "ip": "10.2.0.213",
          "port": 37013
        },
        {
          "id": "14",
          "ip": "10.2.0.22",
          "port": 37014
        },
        {
          "id": "15",
          "ip": "10.2.0.156",
          "port": 37015
        },
        {
          "id": "16",
          "ip": "10.2.0.78",
          "port": 37016
        },
        {
          "id": "17",
          "ip": "10.2.0.81",
          "port": 37017
        },
        {
          "id": "18",
          "ip": "10.2.0.49",
          "port": 37018
        },
        {
          "id": "19",
          "ip": "10.2.0.167",
          "port": 37019
        },
        {
          "id": "20",
          "ip": "10.2.0.77",
          "port": 37020
        },
        {
          "id": "21",
          "ip": "10.2.0.229",
          "port": 37021
        },
        {
          "id": "22",
          "ip": "10.2.0.66",
          "port": 37022
        },
        {
          "id": "23",
          "ip": "10.2.0.93",
          "port": 37023
        },
        {
          "id": "24",
          "ip": "10.2.0.183",
          "port": 37024
        },
        {
          "id": "25",
          "ip": "10.2.0.94",
          "port": 37025
        },
        {
          "id": "26",
          "ip": "10.2.0.246",
          "port": 37026
        },
        {
          "id": "27",
          "ip": "10.2.0.252",
          "port": 37027
        },
        {
          "id": "28",
          "ip": "10.2.0.119",
          "port": 37028
        },
        {
          "id": "29",
          "ip": "10.2.0.62",
          "port": 37029
        },
        {
          "id": "30",
          "ip": "10.2.0.225",
          "port": 37030
        },
        {
          "id": "31",
          "ip": "10.2.0.148",
          "port": 37031
        },
        {
          "id": "32",
          "ip": "10.2.0.128",
          "port": 37032
        },
        {
          "id": "33",
          "ip": "10.2.0.189",
          "port": 37033
        },
        {
          "id": "34",
          "ip": "10.2.0.21",
          "port": 37034
        },
        {
          "id": "35",
          "ip": "10.2.0.197",
          "port": 37035
        },
        {
          "id": "36",
          "ip": "10.2.0.206",
          "port": 37036
        },
        {
          "id": "37",
          "ip": "10.2.0.249",
          "port": 37037
        },
        {
          "id": "38",
          "ip": "10.2.0.122",
          "port": 37038
        },
        {
          "id": "39",
          "ip": "10.2.0.218",
          "port": 37039
        },
        {
          "id": "40",
          "ip": "10.2.0.106",
          "port": 37040
        },
        {
          "id": "41",
          "ip": "10.2.0.82",
          "port": 37041
        },
        {
          "id": "42",
          "ip": "10.2.0.90",
          "port": 37042
        },
        {
          "id": "43",
          "ip": "10.2.0.72",
          "port": 37043
        },
        {
          "id": "44",
          "ip": "10.2.0.201",
          "port": 37044
        },
        {
          "id": "45",
          "ip": "10.2.0.8",
          "port": 37045
        },
        {
          "id": "46",
          "ip": "10.2.0.227",
          "port": 37046
        },
        {
          "id": "47",
          "ip": "10.2.0.65",
          "port": 37047
        },
        {
          "id": "48",
          "ip": "10.2.0.17",
          "port": 37048
        },
        {
          "id": "49",
          "ip": "10.2.0.145",
          "port": 37049
        },
        {
          "id": "50",
          "ip": "10.2.0.36",
          "port": 37050
        },
        {
          "id": "51",
          "ip": "10.2.0.236",
          "port": 37051
        },
        {
          "id": "52",
          "ip": "10.2.0.163",
          "port": 37052
        },
        {
          "id": "53",
          "ip": "10.2.0.208",
          "port": 37053
        },
        {
          "id": "54",
          "ip": "10.2.0.28",
          "port": 37054
        },
        {
          "id": "55",
          "ip": "10.2.0.141",
          "port": 37055
        },
        {
          "id": "56",
          "ip": "10.2.0.73",
          "port": 37056
        },
        {
          "id": "57",
          "ip": "10.2.0.240",
          "port": 37057
        },
        {
          "id": "58",
          "ip": "10.2.0.58",
          "port": 37058
        },
        {
          "id": "59",
          "ip": "10.2.0.129",
          "port": 37059
        },
        {
          "id": "60",
          "ip": "10.2.0.98",
          "port": 37060
        },
        {
          "id": "61",
          "ip": "10.2.0.54",
          "port": 37061
        },
        {
          "id": "62",
          "ip": "10.2.0.173",
          "port": 37062
        },
        {
          "id": "63",
          "ip": "10.2.0.52",
          "port": 37063
        },
        {
          "id": "64",
          "ip": "10.2.0.186",
          "port": 37064
        },
        {
          "id": "65",
          "ip": "10.2.0.204",
          "port": 37065
        },
        {
          "id": "66",
          "ip": "10.2.0.166",
          "port": 37066
        },
        {
          "id": "67",
          "ip": "10.2.0.210",
          "port": 37067
        },
        {
          "id": "68",
          "ip": "10.2.0.34",
          "port": 37068
        },
        {
          "id": "69",
          "ip": "10.2.0.190",
          "port": 37069
        },
        {
          "id": "70",
          "ip": "10.2.0.237",
          "port": 37070
        },
        {
          "id": "71",
          "ip": "10.2.0.114",
          "port": 37071
        },
        {
          "id": "72",
          "ip": "10.2.0.10",
          "port": 37072
        },
        {
          "id": "73",
          "ip": "10.2.0.68",
          "port": 37073
        },
        {
          "id": "74",
          "ip": "10.2.0.112",
          "port": 37074
        },
        {
          "id": "75",
          "ip": "10.2.0.221",
          "port": 37075
        },
        {
          "id": "76",
          "ip": "10.2.0.95",
          "port": 37076
        },
        {
          "id": "77",
          "ip": "10.2.0.220",
          "port": 37077
        },
        {
          "id": "78",
          "ip": "10.2.0.242",
          "port": 37078
        },
        {
          "id": "79",
          "ip": "10.2.0.130",
          "port": 37079
        },
        {
          "id": "80",
          "ip": "10.2.0.248",
          "port": 37080
        },
        {
          "id": "81",
          "ip": "10.2.0.174",
          "port": 37081
        },
        {
          "id": "82",
          "ip": "10.2.0.230",
          "port": 37082
        },
        {
          "id": "83",
          "ip": "10.2.0.182",
          "port": 37083
        },
        {
          "id": "84",
          "ip": "10.2.0.187",
          "port": 37084
        },
        {
          "id": "85",
          "ip": "10.2.0.111",
          "port": 37085
        },
        {
          "id": "86",
          "ip": "10.2.0.133",
          "port": 37086
        },
        {
          "id": "87",
          "ip": "10.2.0.6",
          "port": 37087
        },
        {
          "id": "88",
          "ip": "10.2.0.188",
          "port": 37088
        },
        {
          "id": "89",
          "ip": "10.2.0.11",
          "port": 37089
        },
        {
          "id": "90",
          "ip": "10.2.0.150",
          "port": 37090
        },
        {
          "id": "91",
          "ip": "10.2.0.209",
          "port": 37091
        },
        {
          "id": "92",
          "ip": "10.2.0.86",
          "port": 37092
        },
        {
          "id": "93",
          "ip": "10.2.0.176",
          "port": 37093
        },
        {
          "id": "94",
          "ip": "10.2.0.149",
          "port": 37094
        },
        {
          "id": "95",
          "ip": "10.2.0.157",
          "port": 37095
        },
        {
          "id": "96",
          "ip": "10.2.0.153",
          "port": 37096
        },
        {
          "id": "97",
          "ip": "10.2.0.124",
          "port": 37097
        },
        {
          "id": "98",
          "ip": "10.2.0.222",
          "port": 37098
        },
        {
          "id": "99",
          "ip": "10.2.0.108",
          "port": 37099
        },
        {
          "id": "100",
          "ip": "10.2.0.12",
          "port": 37100
        },
        {
          "id": "101",
          "ip": "10.2.0.31",
          "port": 37101
        },
        {
          "id": "102",
          "ip": "10.2.0.224",
          "port": 37102
        },
        {
          "id": "103",
          "ip": "10.2.0.177",
          "port": 37103
        },
        {
          "id": "104",
          "ip": "10.2.0.223",
          "port": 37104
        },
        {
          "id": "105",
          "ip": "10.2.0.126",
          "port": 37105
        },
        {
          "id": "106",
          "ip": "10.2.0.56",
          "port": 37106
        },
        {
          "id": "107",
          "ip": "10.2.0.136",
          "port": 37107
        },
        {
          "id": "108",
          "ip": "10.2.0.211",
          "port": 37108
        },
        {
          "id": "109",
          "ip": "10.2.0.19",
          "port": 37109
        },
        {
          "id": "110",
          "ip": "10.2.0.32",
          "port": 37110
        },
        {
          "id": "111",
          "ip": "10.2.0.191",
          "port": 37111
        },
        {
          "id": "112",
          "ip": "10.2.0.35",
          "port": 37112
        },
        {
          "id": "113",
          "ip": "10.2.0.142",
          "port": 37113
        },
        {
          "id": "114",
          "ip": "10.2.0.102",
          "port": 37114
        },
        {
          "id": "115",
          "ip": "10.2.0.76",
          "port": 37115
        },
        {
          "id": "116",
          "ip": "10.2.0.205",
          "port": 37116
        },
        {
          "id": "117",
          "ip": "10.2.0.139",
          "port": 37117
        },
        {
          "id": "118",
          "ip": "10.2.0.9",
          "port": 37118
        },
        {
          "id": "119",
          "ip": "10.2.0.134",
          "port": 37119
        },
        {
          "id": "120",
          "ip": "10.2.0.216",
          "port": 37120
        },
        {
          "id": "121",
          "ip": "10.2.0.168",
          "port": 37121
        },
        {
          "id": "122",
          "ip": "10.2.0.147",
          "port": 37122
        },
        {
          "id": "123",
          "ip": "10.2.0.207",
          "port": 37123
        },
        {
          "id": "124",
          "ip": "10.2.0.165",
          "port": 37124
        },
        {
          "id": "125",
          "ip": "10.2.0.178",
          "port": 37125
        },
        {
          "id": "126",
          "ip": "10.2.0.200",
          "port": 37126
        },
        {
          "id": "127",
          "ip": "10.2.0.245",
          "port": 37127
        },
        {
          "id": "128",
          "ip": "10.2.0.97",
          "port": 37128
        }
      ],
      "regionId": 1
    }
  ],
  "selfRegionId": 1,
  "notNeedSignature": true,
  "isPerformanceRunning": true,
  "maxProcessTxn": 1024,
  "useChainHotstuff": true,
  "clientBatchNum": 100,
  "workerNum": 8,
  "inputWorkerNum": 2,
  "outputWorkerNum": 2,
  "tcpBatchNum": 1
}