{
  region : {
    replica_info : {
      id:1,
      ip:"10.2.0.64",
      port: 37001,
    },
    replica_info : {
      id:2,
      ip:"10.2.0.162",
      port: 37002,
    },
    replica_info : {
      id:3,
      ip:"10.2.0.115",
      port: 37003,
    },
    replica_info : {
      id:4,
      ip:"10.2.0.47",
      port: 37004,
    },
    region_id: 1,
  },
  self_region_id:1,
  rocksdb_info : {
    enable_rocksdb:false,
    num_threads:1,
    write_buffer_size_mb:32,
    write_batch_size:1,
    generate_unique_pathnames:true,
  },
  leveldb_info : {
    enable_leveldb:false,
    write_buffer_size_mb:128,
    write_batch_size:1,
    generate_unique_pathnames:false,
  },
  not_need_signature: true,
  is_performance_running:true,
  use_chain_hotstuff:true,
}


