name: bazel-build CI

on:
        #push: 
        #branches:
        #- master

        #pull_request:
        #branches: 
        #- master

jobs:
  ubuntu-build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel

      - name: build
        run: bazel build ...
