name: LOC

on:
  push:
    branches:    
      - master
 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v2
       with:
         repository: ${{github.repository}}
         ref: ${{ env.BRANCH_NAME }}

     - name: Launch the local action
       uses: ./ # Uses an action in the root directory
       id: badge
       with:
         debug: true
         directory: ./
         patterns: '**/*.h|**/*.cpp'
         badge: ./output/badge.svg
         ignore: 'node_modules/|README'

     - name: Commit files
       id: commit-files
       run: |
            git add output/badge.svg
            git commit -m "update loc"
            echo "hasChange=true" >> $GITHUB_OUTPUT
     - name: Push changes
       uses: ad-m/github-push-action@master
       if: ${{ steps.commit-files.outputs.hasChange == 'true' }}
       with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}


     #- name: Deploy to image-data branch
     #  uses: peaceiris/actions-gh-pages@v3
     #  with:
     #    publish_dir: ./output
     #    destination_dir: img
     #    publish_branch: master
     #    github_token: ${{ secrets.GITHUB_TOKEN }}
     #    user_name: 'github-actions[bot]'
     #    user_email: 'github-actions[bot]@users.noreply.github.com'

