name: LOC

on:
  push: 
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout
       uses: actions/checkout@v2
       with:
         repository: ${{github.repository}}
         ref: ${{ env.BRANCH_NAME }}

     - name: NPM Init
       run: npm init -y 

     - name: NPM Install
       run: npm install badgen @actions/core glob-gitignore

     - name: Launch the local action
       id: badge
       uses: ./third_party/loc_script/ # Uses an action in the root directory
       with:
         debug: true
         directory: ./
         patterns: '**/*.h|**/*.cpp'
         badge: ./img/badge.svg
         ignore: 'node_modules/|README'

     - name: Commit files
       id: commit-files
       run: |
            git config --local user.email "github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add img/badge.svg
            git commit -m "update loc"
            echo "hasChange=true" >> $GITHUB_OUTPUT
     - name: Push changes
       uses: ad-m/github-push-action@master
       if: ${{ steps.commit-files.outputs.hasChange == 'true' }}
       with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}


     #- name: Deploy to image-data branch
     #  uses: peaceiris/actions-gh-pages@v3
     #  with:
     #    publish_dir: ./output
     #    destination_dir: img
     #    publish_branch: master
     #    github_token: ${{ secrets.GITHUB_TOKEN }}
     #    user_name: 'github-actions[bot]'
     #    user_email: 'github-actions[bot]@users.noreply.github.com'

