# Description: systemd telegraf script to stream prometheus node_exporter data to InfluxDB. telegraf.service file To be placed under /etc/systemd/system
[Unit]
Description=Telegraf instance for resdb bucket
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/telegraf --config https://us-east-1-1.aws.cloud2.influxdata.com/api/v2/telegrafs/0ded515d9f5c9000
Environment="INFLUX_TOKEN=${INFLUX_TOKEN}"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target